<h1> 
  <div *ngIf="service.isValidUser()" class="btn-group btn-group-justified" role="group" aria-label="...">
  
  <div class="btn-group" role="group">  
   <label class="btn btn-warning">Welcome &nbsp;<strong><em>{{service.fullName}}</em></strong></label>
  </div>
  <div class="btn-group" role="group">
  <a routerLink="/home" routerLinkActive="active" class="btn btn-info">Home</a>
  </div>
  <div class="btn-group" role="group">
	<a routerLink="/tickets" routerLinkActive="active" class="btn btn-info">Tickets</a>
  </div>
  <div class="btn-group" role="group"> 
   	<a routerLink="/about" routerLinkActive="active" class="btn btn-info">About Application</a>
  </div>
  <div class="btn-group" role="group">
	 <a (click)="onLogOut()" routerLinkActive="active" class="btn btn-info">Logout</a>
  </div>  
  
  </div> 
  <router-outlet></router-outlet>  
</h1>
