<div class="btn-group btn-group-justified" role="group" aria-label="...">

<div class="btn-group" role="group"> 
<a routerLink="ticketcreate" routerLinkActive="active" class="btn btn-primary">Create</a>
</div>

<div class="btn-group" role="group"> 
<a routerLink="ticketssearch" routerLinkActive="active" class="btn btn-primary">Search</a> 
</div>

<div class="btn-group" role="group">
<a routerLink="ticketsopen" routerLinkActive="active" class="btn btn-primary">Open</a>
</div>

<div class="btn-group" role="group"> 
<a routerLink="dashboard" routerLinkActive="active" class="btn btn-primary">Dashboard</a>
</div>

</div>
<router-outlet>
	
</router-outlet>
